<div class='wrapper'>
</div>
<div class="modal-block">
  <div class="confirm-modal">
    <div class="close-wrapper" (click)="close()">
      <img
        src="assets/icons/close.svg"
        class="close"
        alt="close"
      />
    </div>
    <div class="logo-wrapper">
      <img src="assets/icons/error.svg" alt="confirm" *ngIf="showMessagesIcon">
      <img src="assets/icons/success.svg" alt="confirm" *ngIf="!showMessagesIcon">
    </div>
    <div class="text-wrapper">
      <ul>
        <li *ngFor="let info of messages">{{info}}</li>
      </ul>
    </div>
  </div>
</div>
