<div class="list-item creation-chart">
  <h4>Notes creation chart</h4>
  <div>
    <ngx-charts-line-chart
      [scheme]="colorScheme"
      [results]="single"
      [gradient]="gradient"
      [xAxis]="showXAxis"
      [yAxis]="showYAxis"
      [legend]="showLegend"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel"
      [autoScale]="autoScale"
      [timeline]="timeline"
      (select)="onSelect($event)"
      #chart>
    </ngx-charts-line-chart>
    <div class="clearfix"></div>
  </div>

</div>
