<div class="note-item list-item" *ngIf="!isEditing; else onEdit">
  <div class="head">
    <div class="title">
      <h4>{{note.title}}</h4>
    </div>
    <div class="actions">
      <swal
        #deleteAlert
        title="Delete {{note.title}}?"
        text="This cannot be undone"
        icon="warning"
        [showCancelButton]="true"
        [focusCancel]="true"
        (confirm)="delete(note.id)">
      </swal>
      <div (click)="isEditing = !isEditing">
        <img src="assets/icons/edit.svg" alt="edit">
      </div>
      <div [swal]="deleteAlert">
        <img src="assets/icons/delete.svg" alt="delete">
      </div>
    </div>
  </div>
  <div class="description">
    <p>{{note.description}}</p>
  </div>
</div>
<ng-template #onEdit>
  <div class="note-item list-item">
    <app-note-form (editIsDone)="isEditing = !isEditing" [type]="'edit'" [editableData]="note"></app-note-form>
  </div>
</ng-template>



