<div class="home-page-body"
     infiniteScroll
     [infiniteScrollDistance]="1"
     [infiniteScrollThrottle]="200"
     (scrolled)="onScroll()"
     [scrollWindow]="true"
>
  <div class="body-item-group">
    <app-search (chartFilter)="getChartFilterData($event)" (typing)="searchText($event)"></app-search>
      <section>
      <app-create-note></app-create-note>
      <app-note-list [notes]="notes"></app-note-list>
      <app-creation-chart></app-creation-chart>
    </section>
  </div>
</div>
